@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2 {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none
    
}

a{
    display: inline-block;
    transition: 0.3s;
}

a:hover {
    transform: translateY(5px);
}

footer {
    padding: 30px 40px;
    background-color: #262626;
    height: 133px;
}

input {
    display: block;
    background-color: #262626;
    border-bottom: 1px solid; 
    border-color: #CCC;
    border: 0;
    font-family: Roboto;
    color: #CCC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.5px;
    width: 280px;
}

input:focus {
    outline: 0; 
}

label {
    display: block;
    color: #CCC;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.5px;
    margin-top: 8px;
    transition: 0.2s;
}

input:focus ~ label {
    font-size: 14px;
}

.block_for_link {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid currentColor;
}

.dark-text {
    color: #262626;
}

.site {
    width: 1440px;
    margin: 30px auto;
    box-shadow: 0px 0px 25px 10px rgba(170, 159, 152, 0.4);
    overflow: hidden;
}

.main_section {
    width: 1440px;
    height: 800px;
    background-color: #E7F066;
}

.main_section_top_con {
    display: flex;
    flex-direction: row;
}

.main_section_img_con {
    width: 1080px;
    height: 688px;
    background-image: url("img/power_house.png");
}

.icon_header {
    display: flex;
    flex-direction: row-reverse;
    height: 74px;
    width: 360px;
    align-items: center;
}

.logo {
    margin-top: 26px;
    margin-left: 26px;
}

.pre-title {
    color: #EBEBEB;
    line-height: 13px; /* 108.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 102px;
    margin-left: 40px;
}

.cart {
    display: box;
    color: #262626;
    font-family: Roboto;
    font-size: 13px;
    line-height: 13px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-right: 40px;
}

.burger {
    width: 50px;
    height: 50px;
    padding-right: 25px;
}

.main_section_text {
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.5px;
    width: 275px;
    padding-left: 40px;
    padding-top: 45px;
}

.shop_new_product {
    margin-left: 40px;
    margin-top: 22px;
}

.sub-title_main_con {
    font-size: 25px;
    line-height: 32px; /* 128% */
    letter-spacing: 0.5
}

.con_for_main_sub-title {
    margin: 40px;
}

.black_main_con {
    position: relative;
    width: 376px;
    height: 254px;
    background-color: #1B1B1B;
    left: -48px;
    bottom: -292px;
}

.black_block_text {
    color: #F1F1EE;
    font-size: 16px;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.5px;

}

.con_for_black_con_text {
    position: absolute;
    margin-top: 47px;
    width: 275px;
    margin-left: 48px;
}

.learn_more {
    color: #F1F1EE;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 2px;
}

.learn_more_link {
    color:#F1F1EE;
}

.second_section {
    display: flex;
    flex-direction: row;
    height: 800px;
    background-color: #9C8554;
}

.hand_poured_candles {
    width: 360px;
    padding-top: 39px;
    padding-left: 40px;
}

.sub-title_second_con {
    color: #B2B2B2;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.second_con_text {
    color: #B2B2B2;
    font-size: 16px;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.5px;
    margin-top: 600px;
    width: 278px;
}

.full_colection_link {
    color: #B2B2B2;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
}

.full_collection {
    margin-top: 21px;
    border-color: #B2B2B2;
}

.img_candles {
    width: 1065px;
}

.second_con_sub-title {
    color: #B2B2B2;
    text-align: right;
    font-size: 25px;
    line-height: 32px; /* 128% */
    letter-spacing: 0.5px;
    margin-top: 39px;
    margin-right: 39px;
}

.third_section {
    display: flex;
    flex-direction: row;
}

.third_section_img_1 {
    width: 720px;
    height: 800px;
    background-image: url("img/alcohol.png");
}

.third_section_img_2 {
    width: 720px;
    height: 800px;
    background-image: url("img/refill_with_topup.png");
}

.link_third_section_shell {
    margin-top: 736px;
    margin-left: 40px;
}

.link_third_section {
    color: #262626;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
}

.fourth_section {
    display: flex;
    flex-direction: row;
    padding: 116px 25px;
    background-color: #EBEBEB;
}

.fourth_section_text {
    width: 310px;
    margin-left: 30px;
    margin-top: 120px;
}

.fourth_section_sub-title {
    color: #262626;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.fourth_section_title {
    width: 234px;
    color: #262626;
    font-size: 28px;
    line-height: 32px; /* 114.286% */
    letter-spacing: 0.5px;
    margin-top: 11px;
}

.fourth_section_paragraph_1 {
    width: 285px;
    margin-top: 39px;
    color: #262626;
    font-size: 14px;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.5px;
}

.fourth_section_paragraph_2 {
    width: 308px;
    margin-top: 20px;
    color: #262626;
    font-size: 16px;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.5px;
}

.fourth_section_read_more_link {
    color: #262626;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.fourth_section_link_shell {
    margin-top: 21px;
}

.fifth_section {
    display: flex;
    flex-direction: row;
    background-color: #A26779;
}

.fifth_section_text_con {
    margin-top: 39px;
    margin-left: 40px;
    height: 770px;
}

.fifth_section_sub-title {
    color: #B2B2B2;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.fifth_section_paragraph {
    margin-top: 581px;
    width: 274px;
    color: #B2B2B2;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
}

.fifth_section_view_more_link {
    color: #B2B2B2;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.fifth_section_link_shell {
    margin-top: 21px;
    border-color: #B2B2B2;
}

.fifth_section_img_con {
    margin-left: 61px;
}

.fifth_section_title {
    color: #B2B2B2;
    text-align: right;
    font-family: Roboto;
    font-size: 25px;
    line-height: 32px; /* 128% */
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-right: 40px;
}

.sixth_section {
    height: 800px;
    background: url("img/power_house_gel.png"), lightgray 50% / cover no-repeat;
}

.sixth_section_text_con {
    width: 278px;
    padding-top: 119px;
    margin-left: 40px;
}

.sixth_section_sub-title {
    color: #262626;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.sixth_section_title {
    margin-top: 11px;
    color: #262626;
    font-size: 25px;
    line-height: 32px; /* 128% */
    letter-spacing: 0.5px;
}

.sixth_section_paragraph {
    margin-top: 39px;
    color: #262626;
    font-size: 16px;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.5px;
}

.sixth_section_link {
    color: #262626;
    font-size: 11px;
    line-height: 19px; /* 172.727% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.sixth_section_link_shell {
    margin-top: 2px;
    border-color: #262626;
}

.seventh_section {
    display: flex;
    flex-direction: row;
    height: 800px;
    background-color: #504B4D;
}

.seventh_section_text_shell {
    margin-top: 42px;
    margin-left: 40px;
    width: 262px;
}

.seventh_section_sub-title {
    color: #B2B2B2;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
}

.seventh_section_text {
    margin-top: 604px;
    color: #B2B2B2;
    font-size: 15px;
    line-height: 19px; /* 126.667% */
    letter-spacing: 0.5px;
}

.seventh_section_img_con {
    margin-left: 73px;
}

.scents_link_shell {
    margin-top: 21px;
    border-color: #B2B2B2;
}

.scents_link {
    color: #B2B2B2;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.seventh_section_title {
    color: #B2B2B2;
    text-align: right;
    font-size: 25px;
    line-height: 32px; /* 128% */
    letter-spacing: 0.5px;
    margin-top: 35px;
    margin-right: 40px;
}

.eighth_section {
    display: flex;
    flex-direction: row;
    height: 800px;
    background-color: #B04836;
}

.read_more_link_shell {
    border-color: #B2B2B2;
    margin-top: 21px;
}

.footer_con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 19px;
}

.footer_text {
    color: #CCC;
    font-size: 14px;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.5px;
}

.footer_con_input {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    margin-top: 21px;
}

.input {
    display: block;
    background-color: #262626;
    border-bottom: 1px solid; 
    border-color: #CCC;
}

.input_email {
    padding-left: 20px;
}

.submit_input {
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: #CCC;
    font-size: 12px;
    line-height: 19px; /* 158.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 80px;
    margin-top: 25px;
    margin-left: 20px;
}

.submit_input:hover {
    border: 1px solid #CCC;
    padding: 4px;
}
